<section class="section container-fluid">

  <div class="scrollable">


      <div class="scrollable-header">
        <div class="well">
            <h1 class="page-header text-center">Women’s Footwear</h1>
        </div>
      </div>


      <div class="scrollable-content">

          <ul class ="list-group text-center list-unstyled">
            <li ng-repeat="item in MainCtrl.showProducts.products | filter:{category: 'Womens Footwear'}">
              <div class="well">
                  <img class="img-responsive img-rounded center-block" width="470" ng-src="{{item.image}}" alt="{{item.productName}}">
                  <h4 class="productName-item">{{item.productName}}</h4>
                  <h5>color: {{item.color}}</h5>
                  <h5>Price: {{item.price | currency:"£":2}}</h5>
                  <div ng-show="item.originalPrice" class="ng-hide">
                    <h5><s>Price: {{item.originalPrice | currency:"£":2}}</s></h5>
                  </div>
                  <h5>Number in stock: {{item.quantity}}</h5>
                  <button type="button"  ng-click="MainCtrl.addToBasket(item)" class="btn btn-default addButton">ADD</button>
                  <br>
                </div>
            </li>
          </ul>

        </div>

  </div>

</section>